body {
  background-image: url("./assets/crimson_wallpaper.png");
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#navbar {
  background-color: black;
  color: #f5c800;
  padding-top: 1%;
}

#link {
  color: #f5c800;
  display: inline;
  padding: 5%;
  font-size: 120%;
}

h1 {
  color: #f5c800;
}

h3 {
  padding-bottom: 2%;
  margin: -0.5%;
}

#title {
  margin-top: 2%
}

#main_img {
  max-height: 30%;
  max-width: 30%;
}

.contactEntry {
  display: inline;
}

.contactImage {
  display: inline-block;
  max-height: 25%;
  max-width: 25%;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
}

#chanoPic {
  border-radius: 50%;
  display: inline;
}

#kelleyPic {
  border-radius: 50%;
  display: inline;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.flexbox-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div.jumbotron {
  margin-top: 1%;
  display: inline-block;
}

.jumbo {
  display: inline-block;
  background-color: white;
  margin-left: -10%;
}
