* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/crimson_wallpaper.png");
  text-align: center;
}

body, html {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.flexbox-container{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  margin-top: 1%;
  background-color: #e5e0eb
}

.frown-face {
  background-image: url('./assets/frown_face.png');
  background-repeat: no-repeat;
  padding-bottom: 85%;
  margin-left: 10%;
}

div.map {
  max-height: 20%;
  margin-bottom: 200px;
}

hr {
  border: solid black 1px;
  height: 0.5px;
}

/*NAVBAR*/

#navbar {
  background-color: black;
  padding-bottom: 75px;
  font-family: "Libre Baskerville", serif;
}

#company {
  float: left;
  display: inline;
  margin-left: 3%;
  margin-top: 0.5%;
}

#navlinks {
  display: inline;
  float: right;
  margin-left: -50px;
  align-items: right;
  margin-right: 5%;
  margin-top: 42.5px;
}

#navbar h1 {
  color: #f5c800;
  display: inline;
  float: left;
}

#link {
  display: inline;
  font-size: 120%;
  padding: 10px;
}

#link p {
  display: inline;
  color: #f5c800;
}

/*HOME PAGE*/

#title {
  margin-top: 2%;
  color: #f4c800;
  font-family: "Libre Baskerville", serif;
}

#main_img {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

#main_img img {
  opacity: 0.95;
}

#main_img h1 {
  position: absolute;
  top: -1%;
  width: 100%;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-size: 350%;
}

#picText {
  padding: 50%;
  border: solid black 5px;
}

/*PROPERTY LISTINGS*/

.propertyEntry {
  display: inline-block;
  max-height: 30%;
  max-width: 30.75%;
  border: solid gray 2px;
  margin: 1.25%;
  float: left;
  font-family: "Libre Baskerville", serif;
  box-shadow: 5px 2px 5px #888888;
}

.propertyEntry img {
  height: 240px;
  width: 100%;
  border-top: 1px solid gray;
  border-bottom: 2px solid gray;
}

.propertyEntry h3 {
  color: #434343;
}

.propertyEntry span {
  color: #434343;
}

.all-property-details {
  text-align: left;
}

.delete button{
  width: 28px;
  height: 28px;
  position: absolute;
}

.listings {
  display: block;
}

.addpropertyform {
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
}

/*INDIVIDUAL PROPERTY*/
#address h2 {
  color: #434343;
}

#property {
  display: inline;
  float: left;
  color: #434343;
}

#property-info {
  display: inline;
  max-height: 55%;
  max-width: 55%;
  float: left;
  margin-right: -5%;
}

#address {
  float: left;
  display: block;
  font-family: "Libre Baskerville", serif;
  text-align: left;
}

#property-info img {
  border: solid gray 2px;
  box-shadow: 5px 2px 5px #888888;
}

#property-description {
  float: left;
  font-family: "Libre Baskerville", serif;
  text-align: left;
}

#property-description p {
  margin-top: 10%;
  font-size: 125%;
}

#property-contact {
  display: inline;
  float: right;
  position: relative;
}

#property-contact h2 {
  margin-top: 2%;
  font-family: "Libre Baskerville", serif;
  font-size: 150%;
}

.jumbotron.contact {
  margin-top: -5%;
  margin-left: 5%;
  margin-right: 2%;
}

#specs {
  font-size: 150%;
  float: left;
  padding-right: 5%;
  padding-left: 2%;
  text-align: left;
  margin-top: -3%;
}

.row {
  margin-right: -25%;
  margin-bottom: -15%;
}

/*BLOG*/

#singlePost p {
  text-align: left;
}

#postHeader {
  display: inline;
}

#postHeader h1 {
  text-align: left;
}

#postHeader h4 {
  text-align: right;
  padding-bottom: 3%;
}

/*CONTACT*/
.contacts {
  display: inline;
  /*display: inline-flex;*/
}

.contactEntry {
  display: inline-flex;
}

.contactImage {
  display: inline;
  height: 20%;
  width: 50%;
  /*padding-bottom: 5%;*/
  margin-top: 2%;
}

.contactImage img {
  border: solid gray 2px;
  /*border-radius: 50%;*/
  display: inline;
  max-width: 200%;
}

.contactInfo {
  display: inline;
  font-family: "Libre Baskerville", serif;
  margin-left: 15%;
  padding-bottom: 5%;
  text-align: left;
}

.contactBio {
  float: right;
  display: inline;
  font-family: "Libre Baskerville", serif;
}
