* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("./assets/crimson_wallpaper.png");
  text-align: center;
}

body, html {
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: solid black 4px;
}

.flexbox-container{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

div.jumbotron {
  margin-top: 1%;
}

/*NAVBAR*/

#navbar {
  background-color: black;
  color: #f5c800;
  font-family: "Libre Baskerville", serif;
  padding-bottom: 75px;
}

#company {
  float: left;
  display: inline;
  margin-left: 3%;
  margin-top: 0.5%;
}

#navlinks {
  display: inline;
  float: right;
  margin-right: 5%;
  margin-top: 42.5px;
}

#navbar h1 {
  display: inline;
  float: left;
}

#link {
  display: inline;
  font-size: 120%;
  padding: 10px;
}

#link p {
  display: inline;
  color: #f5c800;
}

/*HOME PAGE*/

#title {
  margin-top: 2%;
  color: #f4c800;
  font-family: "Libre Baskerville", serif;
}

#main_img {
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

#main_img img {
  opacity: 0.95;
}

#main_img h1 {
  position: absolute;
  top: -1%;
  width: 100%;
  color: black;
  font-family: "Libre Baskerville", serif;
  font-size: 350%;
}

#picText {
  padding: 50%;
  border: solid black 5px;
}

/*PROPERTY LISTINGS*/

.propertyEntry {
  display: inline-block;
  max-height: 30%;
  max-width: 30.75%;
  border: solid black 2px;
  margin: 1.25%;
  float: left;
}

.propertyEntry img {
  height: 240px;
  width: 100%;
}

.delete {
  background: url('./assets/delete.png') no-repeat 0 px 0px;
  width: 28px;
  height: 28px;
  position: absolute;
}

.listings {
  display: block;
}

.addpropertyform {
  margin-top: 2%;
  margin-left: 16%;
  padding-right: 50%;
  justify-content: center;
  align-items: center;
  border: solid black 2px;
}

/*CONTACT*/
.contacts {
  display: inline-flex;
  border: solid black 5px;
}

.contactEntry {
  display: inline;
}

.contactImage {
  display: inline-block;
  max-height: 25%;
  max-width: 25%;
  padding-bottom: 5%;
}

#chanoPic {
  border: solid black 4px;
  border-radius: 50%;
  display: inline;
}

#kelleyPic {
  border: solid black 4px;
  border-radius: 50%;
  display: inline;
}
