body {
  background-image: url("./assets/crimson_wallpaper.png");
  text-align: center;
}

img {
  max-width: 100%;
  max-height: 100%;
  border: solid black 4px;
  border-radius: 5%;
}

#navbar {
  background-color: black;
  color: #f5c800;
  padding-top: 1%;
}

#link {
  color: #f5c800;
  display: inline;
  padding: 5%;
  font-size: 120%;
}

h1 {
  color: #f5c800;
}

h3 {
  padding-bottom: 2%;
  margin: -0.5%;
}

#title {
  margin-top: 2%
}

#main_img {
  max-height: 30%;
  max-width: 30%;
  margin-left: 36%;
  justify-content: center;
  align-items: center;
}

.contacts {
  display: inline-flex;
  border: solid black 5px;

}

.contactEntry {
  display: inline;
}

.contactImage {
  display: inline-block;
  max-height: 25%;
  max-width: 25%;
  padding-bottom: 5%;
}

#chanoPic {
  border-radius: 50%;
  display: inline;
}

#kelleyPic {
  border-radius: 50%;
  display: inline;
}

.propertyEntry {
  float: left;
  max-height: 100%;
  max-width: 100%;
  padding-bottom: 2%;
}

.propertyImage {
  display: inline;
  float: left;
  max-height: 60%;
  max-width: 60%;
  padding-right: 37%;
}

.propertyName {
  display: inline;
  float: right;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.flexbox-container{
  display: flex;
  height: 100%;
}

div.jumbotron {
  margin-top: 1%;
  justify-content: center;
  align-items: center;
}

.jumbo {
  background-color: #f6f9f0;
  padding: 5%;
  border-radius: 5%;
  border: solid black 5px;
}
